/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #000;
}

header{
  height: 40px;
}

main{
  height: calc(100vh - 100px);
  overflow: auto;
}

footer{
  height: 60px;
  background-color: #222222;
}

    /* UTILITIES */
    .d-flex{
      display: flex;
    }

    .d-flex-col{
      display: flex;
      flex-direction: column;
    }

    .fl-j-start{
      justify-content: flex-start;
    }

    .fl-j-center{
      justify-content: center;
    }

    .fl-j-end{
      justify-content: flex-end;
    }

    .fl-j-between{
      justify-content: space-between;
    }

    .fl-a-center{
      align-items: center;
    }

    .fl-a-start{
      align-items: flex-start;
    }
    /* /UTILITIES */
/* /REGOLE GENERALI */


/* HEADER */
header{
  padding: 5px;
}

header button{
  cursor: pointer;
  background-color: #4A4A4A;
  color: white;
  font-size: .6rem;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
}

header button:hover{
  padding: 6px 12px;
}

header button:active{
  color: black;
}
/* /HEADER */


/* MAIN */
main .container{
  flex-wrap: wrap;
  margin: 5px;
}

main .user{
  position: relative;
  margin: 5px 2px;
  background-color: green;
  height: 120px;
  width: 200px;
}

main .user img{
  width: 100%;
  object-fit: contain;
}

main .user .tag-user{
  display: inline-block;
  background-color: rgba(0, 0, 0, .3);
  color: white;
  font-size: 0.7rem;
  padding: 2px 5px;
  position: absolute;
  left: 0;
  bottom: 3px;
  cursor: default;
}

main .user .tag-user:hover{
  background-color: rgba(255, 255, 255, .3);
  color: black;
}

/* /MAIN */


/* FOOTER */

footer section{
  padding: 5px;
}

footer section *{
  display: inline-block;
}

footer .control button{
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  margin: 0 10px;
}

footer .control .green i{
  color: green;
}

footer .control button:hover{
  color: lightgray;
}

footer .control button:active *{
  color: rgb(3, 248, 3);
}

footer .control .more{
  margin-left: 0;
}

footer .end button{
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
}

footer .end button:hover{
  padding: 6px 12px;
}

footer .end button:active{
  color: black;
  background-color: rgba(255, 0, 0, 0.7);
}

footer i{
  font-size: 1.5rem;
  margin-bottom: 5px;
}

footer .more i{
  font-size: 0.8rem;
}
/* /FOOTER */